<div class="pinfirmable-panel">
  <h1><%= t("confirm.title") %></h1>
  <p><%= simple_format t("confirm.body") %></p>
  <%= image_tag "loader.gif", id: "pinfirmable-loading-gif", style: "display: none;" %>
  <%= form_tag("/users/pinfirmable", method: "post", id: "pinfirmable-form") do %>
    <div id="pinfirmable-pin-inputs">
      <%= text_field_tag "digits[]", "", id: "digits_1", class: "pin-input", maxlength: "1", onKeyDown: "return pinfirmable.autoTab(event)", onFocus: "return this.select()", autocomplete: "off", autofocus: true %>
      <%= text_field_tag "digits[]", "", id: "digits_2", class: "pin-input", maxlength: "1", onKeyDown: "return pinfirmable.autoTab(event)", onFocus: "return this.select()", autocomplete: "off" %>
      <%= text_field_tag "digits[]", "", id: "digits_3", class: "pin-input", maxlength: "1", onKeyDown: "return pinfirmable.autoTab(event)", onFocus: "return this.select()", autocomplete: "off" %>
      <span class="pin-separator">&nbsp;</span>
        <%= text_field_tag "digits[]", "", id: "digits_4", class: "pin-input", maxlength: "1", onKeyDown: "return pinfirmable.autoTab(event)", onFocus: "return this.select()", autocomplete: "off" %>
        <%= text_field_tag "digits[]", "", id: "digits_5", class: "pin-input", maxlength: "1", onKeyDown: "return pinfirmable.autoTab(event)", onFocus: "return this.select()", autocomplete: "off" %>
        <%= text_field_tag "digits[]", "", id: "digits_6", class: "pin-input", maxlength: "1", onKeyDown: "return pinfirmable.autoTab(event)", onFocus: "return this.select()", autocomplete: "off" %>
    </div>
    <%= submit_tag("GO!", id: "pinfirmable-noscript") %>
  <% end %>
  <% if @locked_out %>
    <div class="pinfirmable-alert">
      <%= t("confirm.rate_limit") %>
    </div>
  <% end %>

  <%= form_tag("/users/pinfirmable/resend_email", method: "post", id: "pinfirmable-resend-form") do %>
    <%= submit_tag(t("confirm.no_email")) %>
  <% end %>
</div>
